.container {
  height: 100%;
  padding-inline: 1.8rem;
  margin-left: auto;
  margin-right: auto;
  /* * Small */
  /* * Medium */
  /* * Large */
  /* * extra Large */
}
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}
@media (min-width: 1400px) {
  .container {
    width: 1350px;
  }
}

.active {
  right: 0 !important;
  transition: right 1s;
  z-index: 1000;
}

.display--link {
  position: static !important;
  margin-top: 2em;
}

.active--link {
  display: none !important;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 10px;
}

body {
  font-family: "Nunito", sans-serif;
  width: 100vw;
  height: 100vh;
}

a {
  text-decoration: none !important;
}

ul {
  list-style-type: none;
}

img {
  max-width: 100%;
  max-height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}

a,
svg,
.tap-light-remove {
  -webkit-tap-highlight-color: transparent !important;
}

h1 {
  font-size: 77.664px;
}

h2 {
  font-size: 25.888px;
}

h3 {
  font-size: 12.944px;
}

h4 {
  font-size: 6.472px;
}

p {
  font-size: 18px;
}

/* nunito-200 - latin */
@font-face {
  font-family: "Nunito";
  font-style: normal;
  font-weight: 200;
  src: url("../assets/fonts/nunito/nunito-v25-latin-200.eot"); /* IE9 Compat Modes */
  src: local(""), url("../assets/fonts/nunito/nunito-v25-latin-200.eot?#iefix") format("embedded-opentype"), url("../assets/fonts/nunito/nunito-v25-latin-200.woff2") format("woff2"), url("../assets/fonts/nunito/nunito-v25-latin-200.woff") format("woff"), url("../assets/fonts/nunito/nunito-v25-latin-200.ttf") format("truetype"), url("../assets/fonts/nunito/nunito-v25-latin-200.svg#Nunito") format("svg"); /* Legacy iOS */
}
/* nunito-regular - latin */
@font-face {
  font-family: "Nunito";
  font-style: normal;
  font-weight: 400;
  src: url("../assets/fonts/nunito/nunito-v25-latin-regular.eot"); /* IE9 Compat Modes */
  src: local(""), url("../assets/fonts/nunito/nunito-v25-latin-regular.eot?#iefix") format("embedded-opentype"), url("../assets/fonts/nunito/nunito-v25-latin-regular.woff2") format("woff2"), url("../assets/fonts/nunito/nunito-v25-latin-regular.woff") format("woff"), url("../assets/fonts/nunito/nunito-v25-latin-regular.ttf") format("truetype"), url("../assets/fonts/nunito/nunito-v25-latin-regular.svg#Nunito") format("svg"); /* Legacy iOS */
}
/* nunito-300 - latin */
@font-face {
  font-family: "Nunito";
  font-style: normal;
  font-weight: 300;
  src: url("../assets/fonts/nunito/nunito-v25-latin-300.eot"); /* IE9 Compat Modes */
  src: local(""), url("../assets/fonts/nunito/nunito-v25-latin-300.eot?#iefix") format("embedded-opentype"), url("../assets/fonts/nunito/nunito-v25-latin-300.woff2") format("woff2"), url("../assets/fonts/nunito/nunito-v25-latin-300.woff") format("woff"), url("../assets/fonts/nunito/nunito-v25-latin-300.ttf") format("truetype"), url("../assets/fonts/nunito/nunito-v25-latin-300.svg#Nunito") format("svg"); /* Legacy iOS */
}
/* nunito-500 - latin */
@font-face {
  font-family: "Nunito";
  font-style: normal;
  font-weight: 500;
  src: url("../assets/fonts/nunito/nunito-v25-latin-500.eot"); /* IE9 Compat Modes */
  src: local(""), url("../assets/fonts/nunito/nunito-v25-latin-500.eot?#iefix") format("embedded-opentype"), url("../assets/fonts/nunito/nunito-v25-latin-500.woff2") format("woff2"), url("../assets/fonts/nunito/nunito-v25-latin-500.woff") format("woff"), url("../assets/fonts/nunito/nunito-v25-latin-500.ttf") format("truetype"), url("../assets/fonts/nunito/nunito-v25-latin-500.svg#Nunito") format("svg"); /* Legacy iOS */
}
/* nunito-600 - latin */
@font-face {
  font-family: "Nunito";
  font-style: normal;
  font-weight: 600;
  src: url("../assets/fonts/nunito/nunito-v25-latin-600.eot"); /* IE9 Compat Modes */
  src: local(""), url("../assets/fonts/nunito/nunito-v25-latin-600.eot?#iefix") format("embedded-opentype"), url("../assets/fonts/nunito/nunito-v25-latin-600.woff2") format("woff2"), url("../assets/fonts/nunito/nunito-v25-latin-600.woff") format("woff"), url("../assets/fonts/nunito/nunito-v25-latin-600.ttf") format("truetype"), url("../assets/fonts/nunito/nunito-v25-latin-600.svg#Nunito") format("svg"); /* Legacy iOS */
}
/* nunito-700 - latin */
@font-face {
  font-family: "Nunito";
  font-style: normal;
  font-weight: 700;
  src: url("../assets/fonts/nunito/nunito-v25-latin-700.eot"); /* IE9 Compat Modes */
  src: local(""), url("../assets/fonts/nunito/nunito-v25-latin-700.eot?#iefix") format("embedded-opentype"), url("../assets/fonts/nunito/nunito-v25-latin-700.woff2") format("woff2"), url("../assets/fonts/nunito/nunito-v25-latin-700.woff") format("woff"), url("../assets/fonts/nunito/nunito-v25-latin-700.ttf") format("truetype"), url("../assets/fonts/nunito/nunito-v25-latin-700.svg#Nunito") format("svg"); /* Legacy iOS */
}
/* nunito-800 - latin */
@font-face {
  font-family: "Nunito";
  font-style: normal;
  font-weight: 800;
  src: url("../assets/fonts/nunito/nunito-v25-latin-800.eot"); /* IE9 Compat Modes */
  src: local(""), url("../assets/fonts/nunito/nunito-v25-latin-800.eot?#iefix") format("embedded-opentype"), url("../assets/fonts/nunito/nunito-v25-latin-800.woff2") format("woff2"), url("../assets/fonts/nunito/nunito-v25-latin-800.woff") format("woff"), url("../assets/fonts/nunito/nunito-v25-latin-800.ttf") format("truetype"), url("../assets/fonts/nunito/nunito-v25-latin-800.svg#Nunito") format("svg"); /* Legacy iOS */
}
/* nunito-900 - latin */
@font-face {
  font-family: "Nunito";
  font-style: normal;
  font-weight: 900;
  src: url("../assets/fonts/nunito/nunito-v25-latin-900.eot"); /* IE9 Compat Modes */
  src: local(""), url("../assets/fonts/nunito/nunito-v25-latin-900.eot?#iefix") format("embedded-opentype"), url("../assets/fonts/nunito/nunito-v25-latin-900.woff2") format("woff2"), url("../assets/fonts/nunito/nunito-v25-latin-900.woff") format("woff"), url("../assets/fonts/nunito/nunito-v25-latin-900.ttf") format("truetype"), url("../assets/fonts/nunito/nunito-v25-latin-900.svg#Nunito") format("svg"); /* Legacy iOS */
}
/* nunito-200italic - latin */
@font-face {
  font-family: "Nunito";
  font-style: italic;
  font-weight: 200;
  src: url("../assets/fonts/nunito/nunito-v25-latin-200italic.eot"); /* IE9 Compat Modes */
  src: local(""), url("../assets/fonts/nunito/nunito-v25-latin-200italic.eot?#iefix") format("embedded-opentype"), url("../assets/fonts/nunito/nunito-v25-latin-200italic.woff2") format("woff2"), url("../assets/fonts/nunito/nunito-v25-latin-200italic.woff") format("woff"), url("../assets/fonts/nunito/nunito-v25-latin-200italic.ttf") format("truetype"), url("../assets/fonts/nunito/nunito-v25-latin-200italic.svg#Nunito") format("svg"); /* Legacy iOS */
}
/* nunito-300italic - latin */
@font-face {
  font-family: "Nunito";
  font-style: italic;
  font-weight: 300;
  src: url("../assets/fonts/nunito/nunito-v25-latin-300italic.eot"); /* IE9 Compat Modes */
  src: local(""), url("../assets/fonts/nunito/nunito-v25-latin-300italic.eot?#iefix") format("embedded-opentype"), url("../assets/fonts/nunito/nunito-v25-latin-300italic.woff2") format("woff2"), url("../assets/fonts/nunito/nunito-v25-latin-300italic.woff") format("woff"), url("../assets/fonts/nunito/nunito-v25-latin-300italic.ttf") format("truetype"), url("../assets/fonts/nunito/nunito-v25-latin-300italic.svg#Nunito") format("svg"); /* Legacy iOS */
}
/* nunito-italic - latin */
@font-face {
  font-family: "Nunito";
  font-style: italic;
  font-weight: 400;
  src: url("../assets/fonts/nunito/nunito-v25-latin-italic.eot"); /* IE9 Compat Modes */
  src: local(""), url("../assets/fonts/nunito/nunito-v25-latin-italic.eot?#iefix") format("embedded-opentype"), url("../assets/fonts/nunito/nunito-v25-latin-italic.woff2") format("woff2"), url("../assets/fonts/nunito/nunito-v25-latin-italic.woff") format("woff"), url("../assets/fonts/nunito/nunito-v25-latin-italic.ttf") format("truetype"), url("../assets/fonts/nunito/nunito-v25-latin-italic.svg#Nunito") format("svg"); /* Legacy iOS */
}
/* nunito-500italic - latin */
@font-face {
  font-family: "Nunito";
  font-style: italic;
  font-weight: 500;
  src: url("../assets/fonts/nunito/nunito-v25-latin-500italic.eot"); /* IE9 Compat Modes */
  src: local(""), url("../assets/fonts/nunito/nunito-v25-latin-500italic.eot?#iefix") format("embedded-opentype"), url("../assets/fonts/nunito/nunito-v25-latin-500italic.woff2") format("woff2"), url("../assets/fonts/nunito/nunito-v25-latin-500italic.woff") format("woff"), url("../assets/fonts/nunito/nunito-v25-latin-500italic.ttf") format("truetype"), url("../assets/fonts/nunito/nunito-v25-latin-500italic.svg#Nunito") format("svg"); /* Legacy iOS */
}
/* nunito-600italic - latin */
@font-face {
  font-family: "Nunito";
  font-style: italic;
  font-weight: 600;
  src: url("../assets/fonts/nunito/nunito-v25-latin-600italic.eot"); /* IE9 Compat Modes */
  src: local(""), url("../assets/fonts/nunito/nunito-v25-latin-600italic.eot?#iefix") format("embedded-opentype"), url("../assets/fonts/nunito/nunito-v25-latin-600italic.woff2") format("woff2"), url("../assets/fonts/nunito/nunito-v25-latin-600italic.woff") format("woff"), url("../assets/fonts/nunito/nunito-v25-latin-600italic.ttf") format("truetype"), url("../assets/fonts/nunito/nunito-v25-latin-600italic.svg#Nunito") format("svg"); /* Legacy iOS */
}
/* nunito-700italic - latin */
@font-face {
  font-family: "Nunito";
  font-style: italic;
  font-weight: 700;
  src: url("../assets/fonts/nunito/nunito-v25-latin-700italic.eot"); /* IE9 Compat Modes */
  src: local(""), url("../assets/fonts/nunito/nunito-v25-latin-700italic.eot?#iefix") format("embedded-opentype"), url("../assets/fonts/nunito/nunito-v25-latin-700italic.woff2") format("woff2"), url("../assets/fonts/nunito/nunito-v25-latin-700italic.woff") format("woff"), url("../assets/fonts/nunito/nunito-v25-latin-700italic.ttf") format("truetype"), url("../assets/fonts/nunito/nunito-v25-latin-700italic.svg#Nunito") format("svg"); /* Legacy iOS */
}
/* nunito-800italic - latin */
@font-face {
  font-family: "Nunito";
  font-style: italic;
  font-weight: 800;
  src: url("../assets/fonts/nunito/nunito-v25-latin-800italic.eot"); /* IE9 Compat Modes */
  src: local(""), url("../assets/fonts/nunito/nunito-v25-latin-800italic.eot?#iefix") format("embedded-opentype"), url("../assets/fonts/nunito/nunito-v25-latin-800italic.woff2") format("woff2"), url("../assets/fonts/nunito/nunito-v25-latin-800italic.woff") format("woff"), url("../assets/fonts/nunito/nunito-v25-latin-800italic.ttf") format("truetype"), url("../assets/fonts/nunito/nunito-v25-latin-800italic.svg#Nunito") format("svg"); /* Legacy iOS */
}
/* nunito-900italic - latin */
@font-face {
  font-family: "Nunito";
  font-style: italic;
  font-weight: 900;
  src: url("../assets/fonts/nunito/nunito-v25-latin-900italic.eot"); /* IE9 Compat Modes */
  src: local(""), url("../assets/fonts/nunito/nunito-v25-latin-900italic.eot?#iefix") format("embedded-opentype"), url("../assets/fonts/nunito/nunito-v25-latin-900italic.woff2") format("woff2"), url("../assets/fonts/nunito/nunito-v25-latin-900italic.woff") format("woff"), url("../assets/fonts/nunito/nunito-v25-latin-900italic.ttf") format("truetype"), url("../assets/fonts/nunito/nunito-v25-latin-900italic.svg#Nunito") format("svg"); /* Legacy iOS */
}
.main {
  height: 100%;
  width: 100%;
  position: relative;
}

.section {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  right: 100%;
}

.landing {
  background: #202c39;
}
.landing .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  flex-wrap: wrap;
}
.landing .container .landing--text {
  flex: 2;
  color: #f4f4f4;
}
.landing .container .landing--text .landing--title {
  width: 100%;
  min-width: 600px;
  margin-bottom: 0.5em;
  text-shadow: 0 0 10px #00b3ff, 0 0 20px #00b3ff, 0 0 40px #00b3ff, 0 0 80px #00b3ff, 0 0 120px #00b3ff, 0 0 200px #00b3ff;
}
.landing .container .landing--portrait {
  flex: 1.5;
  text-align: center;
}
.landing .container .landing--portrait .img {
  width: min(100%, 300px);
  border-radius: 50%;
}

@media screen and (max-width: 992px) {
  .landing .container {
    flex-direction: column-reverse;
    gap: 4em;
    align-items: center;
    align-content: center;
    justify-content: center;
  }
  .landing .container .landing--portrait {
    flex: 0;
  }
  .landing .container .landing--portrait .img {
    width: 200px;
  }
  .landing .container .landing--text {
    flex: 0;
    text-align: center;
  }
  .landing .container .landing--text .landing--title {
    min-width: unset;
    font-size: 4.5rem;
  }
}
