$darker-blue: #202c39;
$dark-blue: #283845;
$light-beige: #b8b08d;
$dark-beige: #f2d492;
$orange: #ff6f61;
$accent-light: #f4f4f4;


$colors: (
  "darker-blue": $darker-blue,
  "dark-blue": $dark-blue,
  "light-beige": $light-beige,
  "dark-beige": $dark-beige,
  "orange": $orange,
  "accent-light": $accent-light,
);
