.container {
  height: 100%;
  padding-inline: 1.8rem;
  margin-left: auto;
  margin-right: auto;

  /* * Small */
  @media (min-width: 768px) {
    width: 750px;
  }

  /* * Medium */
  @media (min-width: 992px) {
    width: 970px;
  }

  /* * Large */
  @media (min-width: 1200px) {
    width: 1170px;
  }

  /* * extra Large */
  @media (min-width: 1400px) {
    width: 1350px;
  }
}

// active class
.active {
  // i don't know i should add !important
  right: 0 !important;
  transition: right 1s;
  z-index: 1000;
}
