.landing {
  background: $darker-blue;
  
  position: absolute;
  top: 0;
  right: 100%;
  transition: right 1s;

  .container {
    @include flex-center-row;
    flex-wrap: wrap;

    .landing--text {
      flex: 2;
      color: map-get($colors, "accent-light");

      .landing--title {
        width: 100%;
        min-width: 600px;
        margin-bottom: 0.5em;
        text-shadow: 0 0 10px #00b3ff, 0 0 20px #00b3ff, 0 0 40px #00b3ff,
          0 0 80px #00b3ff, 0 0 120px #00b3ff, 0 0 200px #00b3ff;
      }
    }

    .landing--portrait {
      flex: 1.5;
      // background: red;
      text-align: center;
      .img {
        width: min(100%, 300px);
        border-radius: 50%;
      }
    }
  }
}

@media screen and (max-width: 992px) {
  .landing {
    .container {
      flex-direction: column-reverse;
      gap: 4em;
      align-items: center;
      align-content: center;
      justify-content: center;

      .landing--portrait {
        flex: 0;

        .img {
          width: 200px;
        }
      }

      .landing--text {
        flex: 0;
        text-align: center;

        .landing--title {
          min-width: unset;
          font-size: 4.5rem;
        }
      }
    }
  }
}
