.landing {
  background: $darker-blue;

  .container {
    @include flex-center-row;
    flex-wrap: wrap;

    .landing--text {
      flex: 2;

      .landing--title {
        width: 100%;
        min-width: 600px;
        margin-bottom: 0.5em;
        color: #fff;
        text-shadow: 0 0 10px #00b3ff, 0 0 20px #00b3ff, 0 0 40px #00b3ff,
          0 0 80px #00b3ff, 0 0 120px #00b3ff, 0 0 200px #00b3ff;
      }

      .landing--description {
        color: map-get($colors, "accent-light");
      }
    }

    .landing--portrait {
      flex: 1;
      min-width: 300px;

      .img {
        width: min(100%, 300px);
        border-radius: 50%;
      }
    }
  }
}

// ! correct it and tell what should i do
@media screen and (max-width: 992px) {
  .landing {
    .container {
      // background: red;
      flex-direction: column-reverse;
      gap: 2em;

      .landing--portrait {
        padding-top: 2em;
      }

      .landing--text {
        text-align: center;
      }
    }
  }
}
