// i have made main section and give it this style
// and create it because learned that the page must have main section
.main {
  height: 100%;
  width: 100%;
  position: relative;
  // ! color just for testing
  //   background: green;
  // overflow: hidden;
}
