// i have made main section and give it this style
// and create it because learned that the page must have main section
.main {
  height: 100%;
  width: 100%;
  position: relative;
  // ! color just for testing
  //   background: green;
  // overflow: hidden;
}

.main:before {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: 10000;
  background: blue;
  width: 100vw;
  height: 100vh;
}

.overlay:before {
  content: "";
  background: rgba(251, 185, 185, 0.334);
}
