.nav {
  z-index: 1111;
  bottom: 20px;
  right: 10px;
  position: fixed;
  font-weight: bold;

  // height: 240px;
  width: 80px;

  a {
    font-size: 1rem;
    width: 8em;
    height: 8em;
    //! i don't know why font-weight doesn't work
    display: flex;
    justify-content: center;
    align-items: center;
    border: 10px solid map-get($colors, "orange");
    border-radius: 100%;
    font-weight: bold;
    text-transform: uppercase;
    color: map-get($colors, "orange");

    // position
    position: absolute;
    bottom: 0;
  }

  .list--item:last-child {
    a {
      background: red;
    }
  }
  a:hover {
    transition: margin-bottom 0.5s, height 0.3s;
    height: calc(8em - 10px);
  }
  a:active {
    height: calc(8em - 20px);
    border-color: red;
    color: red;
  }
}
