* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: $main-font-size;
}

body {
  font-family: "Nunito", sans-serif;
  width: 100vw;
  height: 100vh;
  overflow-x: hidden;
}

a {
  text-decoration: none !important;
}

ul {
  list-style-type: none;
  padding: 0 !important;
}

img {
  max-width: 100%;
  max-height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}

a,
svg,
.tap-light-remove {
  -webkit-tap-highlight-color: transparent !important;
}

// ! i don't know what should i do actually
// with font-size
// h1 {
//   @include font-size(3);
// }
// h2 {
//   @include font-size(1);
// }
// h3 {
//   @include font-size(0.5);
// }
// h4 {
//   @include font-size(0.25);
// }

h1 {
  font-size: $fs-xl;
}

p {
  font-size: $fs-600;
}
